

$grid-border-color:red;
$cell-border-color:black;

body {
  @apply bg-red-400;
}
.App{
  @apply text-center;

}
.player{
  @apply mb-12;

}

.game-grid {
  @apply grid grid-cols-3 m-auto;
  width: 600px;
  height:600px;
  outline: 1px solid $grid-border-color;
     @apply bg-white shadow rounded-xl;

}

.cell{
  width: 200px;
  height: 200px;
  outline: 1px solid $cell-border-color;
  text-transform: uppercase;
  display:grid;
  place-items: center;
  font-size: 8rem;
  &:hover {
    background: red;
    cursor:pointer;
  }
  &:active {
    background:yellow;
  }
}

.winner {
  position :absolute;
  background: black;
  opacity:0.5;
  left:0;
right:0;
  top:0;
  bottom:0;
  display: flex;
  align-items:center;
  justify-content:center;
  z-index:1000;
}

.options{
  margin-top: 3rem;
}

